################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ExternalCrosshair
/External.359e17d9/x64
/x64
/imgui.ini
/.vs
